* {
    -fx-font-family: Tahoma;
}

.root {
    -fx-background-color: #FFF;
}

/* #6bbc76 , #65617d, blue: #3DA6AC */
.title {
    -fx-font-size: 30px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #2196f3 50%);
}

.lbl-date {
    -fx-font-size: 22px;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, #2196f3 50%);
    -fx-effect: dropshadow(two-pass-box, #EEE, 2, 2, 1, 2);
}

.txt-desc {
    -fx-font-size: 18px;
    -fx-fill: #65617d;
}

.btn {
    -fx-background-color: #2196f3;
    -fx-font-size: 18px;
    -fx-pref-width: 180px;
    -fx-pref-height: 45px;
    -fx-text-fill: #FFF;
    -fx-background-radius: 5;
    -jfx-button-type: RAISED;
    -fx-cursor: hand;
}